<form [formGroup]="form" (ngSubmit)="submit()" class="form">

  <div class="field">
    <label>Nombre</label>
    <input formControlName="name"/>
    @if (form.get('name')?.touched && form.get('name')?.invalid) {
    <small>El nombre es obligatorio</small>
    }
  </div>

  <div class="field">
    <label>Apellido</label>
    <input formControlName="lastName"/>
    @if (form.get('lastName')?.touched && form.get('lastName')?.invalid) {
    <small>El apellido es obligatorio</small>
    }
  </div>

  <div class="field">
    <label>Salario</label>
    <input formControlName="salary" type="number"/>
    @if (form.get('salary')?.touched && form.get('salary')?.invalid) {
    <small>El salario es obligatorio. Debe ser numérico, puede tener hasta 2 decimales</small>
    }
  </div>

  <div class="field">
    <label>Rol</label>
    <input formControlName="role"/>
    @if (form.get('role')?.touched && form.get('role')?.invalid) {
    <small>El rol es obligatorio</small>
    }
  </div>

  <div class="field">
    <label>Nombre de usuario</label>
    <input formControlName="username"/>
    @if (form.get('username')?.touched && form.get('username')?.invalid) {
    <small>El nombre de usuario es obligatorio</small>
    }
  </div>

  <div class="field">
    <label>Contraseña</label>
    <input formControlName="password" type="password"/>
    @if (form.get('password')?.touched && form.get('password')?.invalid) {
    <small>La contraseña es obligatoria y debe tener al menos 6 caracteres</small>
    }
  </div>

  <button type="submit" [disabled]="form.invalid">
    Guardar
  </button>

</form>
