.layout {
  display: flex;
}

.content {
  margin-left: 220px;
  padding: 20px;
  width: 100%;
}

.sidebar {
  width: 220px;
  height: 100vh;
  background: #1e293b;
  color: white;
  padding: 20px;
  position: fixed;
}

.logo {
  margin-bottom: 30px;
  font-size: 20px;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

nav button {
  color: #000000;
  padding: 10px;
  border-radius: 6px;
  transition: 0.2s;
}

nav button:hover {
  background: #335554;
}

nav button.active {
  background: #3b82f6;
  color: rgb(0, 0, 0);
}