<table>
  <thead>
    <tr>
      @for (col of columns; track $index) {
        <th>{{ col.label }}</th>
      }
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    @for (item of data; track $index) {
    <tr>
      @for (col of columns; track $index) {
        <td>{{ item[col.field] }}</td>
      }

      <td>
        <button (click)="view.emit(item)">Ver</button>
        <button (click)="edit.emit(item)">Editar</button>
        <button (click)="delete.emit(item)">Eliminar</button>
        <button class="btn-qr" (click)="qr.emit(item)">QR</button>
      </td>
    </tr>
    }
  </tbody>
</table>

@if (totalPages > 1) {
  <div class="pagination">
    <button (click)="prev()" [disabled]="currentPage === 1">← Anterior</button>

    @for (p of pages; track p) {
      <button (click)="goTo(p)" [class.active]="p === currentPage">
        {{ p }}
      </button>
    }

    <button (click)="next()" [disabled]="currentPage === totalPages">Siguiente →</button>
  </div>
}