<div class="container">
  <h2>Listado de Viajes - SGT</h2>
  <button [routerLink]="['/trips/new']">Registrar Nuevo Viaje</button>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Transporte</th>
        <th>Fecha</th>
        <th>Ganancia</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (trip of trips; track trip.id_trip) {
        <tr>
          <td>{{ trip.id_trip }}</td>
          <td>{{ trip.id_transport }}</td>
          <td>{{ trip.date }}</td>
          <td>{{ trip.income | currency }}</td>
          <td>
            <button [routerLink]="['/trips', trip.id_trip]">Ver</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>